.header { background: url(https://www.google.com.tw/imgres?imgurl=http%3A%2F%2Fwww.outerspace.com.tw%2Fwp-content%2Fuploads%2F2012%2F10%2Fbg1.png&imgrefurl=http%3A%2F%2Fwww.outerspace.com.tw%2F&docid=goKvTPd9T8OUcM&tbnid=fWMH4emgF9GF8M%3A&vet=10ahUKEwigy9CF5MnTAhULEbwKHeeLBpgQMwgjKAAwAA..i&w=1980&h=1080&bih=575&biw=1276&q=%E5%A4%AA%E7%A9%BA&ved=0ahUKEwigy9CF5MnTAhULEbwKHeeLBpgQMwgjKAAwAA&iact=mrc&uact=8); }

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
